repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
        # file contains comments
        exclude: ^\.vscode/settings.json$
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        # exclude mkdocs.yml because it contains custom tags
        exclude: ^mkdocs\.yml$
      # check yaml only for syntax (some contain unrecognized tags)
      - id: check-yaml
        name: check-yaml syntax only
        args: ["--unsafe"]
        files: ^mkdocs\.yml$
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-lock

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-compose-spec
        args: ["--verbose"]
      - id: check-renovate
        args: ["--verbose"]
        additional_dependencies: ['json5']

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        language: python
        args: [--number, --sort-front-matter, --strict-front-matter]
        exclude: ^docs/projects/index.md|docs/research/index.md|docs/research/overview.md$
        additional_dependencies:
          - mdformat-mkdocs==5.1.4
          - mdformat-front-matters==2.0.0
          - mdformat-footnote==0.1.3
          - mdformat-gfm-alerts==2.0.0
          - mdformat-ruff==0.1.3
          - ruff==0.15.1
          - mdformat-config==0.2.1

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  # zizmor detects security vulnerabilities in GitHub Actions workflows.
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor

  # actionlint for verifying correct syntax in GitHub Actions workflows.
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint
        language: golang
        additional_dependencies:
          # actionlint has a shellcheck integration which extracts shell scripts in `run:` steps from GitHub Actions
          # and checks these with shellcheck.
          # see also: https://github.com/rhysd/actionlint/pull/482
          - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1"
