site_name: Matthias Schoettle
site_author: Matthias Schoettle
site_description: Personal website of Matthias Schoettle
site_url: https://mattsch.com

copyright: Copyright &copy; Matthias Schoettle
# repo_url: https://github.com/mschoettle/website
# edit_uri: edit/main/docs

nav:
  - About Me: index.md
  - Blog:
    - blog/index.md
  - Projects:
    - projects/index.md
  - Research:
    - research/index.md
  - Legal Stuff:
    - imprint.md
    - privacy-policy.md

not_in_nav: |
  tags.md
  research/overview.md

theme:
  features:
    # - content.action.edit
    # - content.action.view
    - content.code.copy
    - navigation.expand
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - toc.follow
    # - toc.integrate
  logo: assets/images/profile.jpg
  language: en
  name: material
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode

extra_css:
  - assets/stylesheets/extra.css

extra_javascript:
  - assets/javascript/extra.js
  - assets/javascript/feedback.js


extra:
  analytics:
    provider: umami
    website_id: !ENV [STATS_WEBSITE_ID, ""]
    feedback:
      title: Was this post helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This post was helpful
          data: 1
          note: >-
            Thanks for your feedback! Consider <a href="https://ko-fi.com/mattsch" "title="Buy me a coffee on Ko-Fi">buying me a coffee</a> to say <em>Thank You!</em>.
        - icon: material/thumb-down-outline
          name: This post could be improved
          data: 0
          note: >-
            Thanks for your feedback! Please help me improve this post by
            using my <a href="https://github.com/mschoettle/website/issues/new?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">feedback form</a> or sending me an <a href="/imprint/">email</a>.
  social:
    - icon: fontawesome/brands/github
      name: mschoettle on GitHub
      link: https://github.com/mschoettle
    - icon: fontawesome/brands/gitlab
      name: mschoettle on GitLab
      link: https://gitlab.com/mschoettle
    - icon: fontawesome/brands/linkedin
      name: Connect with Matthias Schoettle on LinkedIn
      link: https://tbd
    - icon: fontawesome/brands/twitter
      name: schoettlem on Twitter
      link: https://twitter.com/schoettlem
    - icon: simple/kofi
      name: Buy me a coffee on Ko-Fi
      link: https://ko-fi.com/mattsch
  tags:
    # add default tag to force material-pound (hash) to be shown in front of all tags
    default: default

plugins:
  # https://squidfunk.github.io/mkdocs-material/plugins/privacy/
  - privacy:
      enabled: !ENV [CI, false]
      assets_exclude:
        - stats.mattsch.com/*
  - search
  - blog:
      categories_allowed:
        - Digital Healthcare
        - Django
        - Docker
        - Eclipse Modeling Framework (EMF)
        - Firefox
        - Git
        - iOS
        - Linux
        - Mac OS
        - Projects
        - Self-hosting
        - Thunderbird
        - Web Development
  - tags:
      tags_hierarchy: true
      shadow_tags:
        - archived
  - social:
      enabled: !ENV [CI, false]
      cards_layout: custom
      cards_layout_options:
        background_color: "#4051b5"
  # optimize images
  # https://squidfunk.github.io/mkdocs-material/plugins/optimize/
  - optimize:
      enabled: !ENV [CI, false]
  # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#document-dates
  - git-revision-date-localized:
      enabled: !ENV [CI, false]
      exclude:
        - index.md
        - blog/**
  # https://github.com/blueswen/mkdocs-glightbox
  - glightbox

markdown_extensions:
  # Abbreviations
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/
  - abbr
  # HTML in Markdown
  # https://squidfunk.github.io/mkdocs-material/reference/images/
  - attr_list
  - md_in_html
  # admonitions
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions/
  - admonition
  - pymdownx.details
  # highlighting text
  # https://squidfunk.github.io/mkdocs-material/reference/formatting/#highlighting-text
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  # content tabs
  # https://squidfunk.github.io/mkdocs-material/reference/content-tabs/
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  # code blocks/highlighting
  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets
  # icons and emojis
  # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.magiclink
  - toc:
      permalink: true
      title: On this page
      permalink_title: Permanent link
  # https://oprypin.github.io/markdown-callouts/
  - github-callouts
  - callouts

# https://www.mkdocs.org/user-guide/configuration/#validation
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

watch:
  - overrides
