/* Make logo bigger and put a border around */
.md-logo img {
    border-radius: 100%;
    height: 2rem !important;
    outline: .2rem solid #6c91d54d;
}

/* Make social icons in footer a bit bigger */
.md-social {
    gap: 0.5rem;
}

.md-social__link svg {
    max-height: 1rem;
    vertical-align: -30%;
}

/* Highlight selected publication */
.md-typeset ul li :target {
    background: #ffa7002b;
}

/* Hide abstract and bibtex citation by default on publications page */
ul li .admonition.hidden {
    display: none;
}
