name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4.2.1
      - name: Install uv
        uses: astral-sh/setup-uv@v3.1.7
        id: setup-uv
        with:
          # renovate: datasource=pypi dependency=uv
          version: "0.4.20"
          enable-cache: false
      - name: Print the installed version
        run: echo "Installed uv version is ${{ steps.setup-uv.outputs.uv-version }}"
      - name: Install Python
        run: uv python install
      - name: Print python version
        run: uv python list
      - name: Check lockfile is up-to-date
        run: uv lock --locked
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
      - name: Build mkdocs site
        run: uv run mkdocs build --strict
