name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      # required for upload-sarif action
      # https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/uploading-a-sarif-file-to-github#example-workflow-for-sarif-files-generated-outside-of-a-repository
      security-events: write
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        id: setup-uv
        with:
          # renovate: datasource=pypi dependency=uv
          version: "0.10.6"
      - uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037 # v1.1.1
        with:
          # renovate: datasource=pypi dependency=prek
          prek-version: "0.3.3"
        env:
          SKIP: markdownlint-cli2
      - name: Run markdownlint
        if: '!cancelled()'
        env:
          # renovate: datasource=docker depName=davidanson/markdownlint-cli2-rules versioning=semver
          MARKDOWNLINT_CLI2_VERSION: v0.21.0
        # node user does not have permissions to workspace due to user id mismatch -> use root
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/workdir \
          --user root \
          davidanson/markdownlint-cli2-rules:${{ env.MARKDOWNLINT_CLI2_VERSION }} \
          markdownlint-cli2 --config .github/markdownlint/.markdownlint-cli2.yaml "**/*.md"

  build:
    # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ubuntu-24.04-arm
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          lfs: true
          # fetch the full git history to be able to determine creation dates for pages
          # see: https://github.com/timvink/mkdocs-git-revision-date-localized-plugin?tab=readme-ov-file#note-when-using-build-environments
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        if: github.event_name != 'pull_request'
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Validate build configuration
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          call: check
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          # use path context to make .git available in build
          # https://github.com/docker/build-push-action?tab=readme-ov-file#git-context
          context: .
          platforms: linux/arm64
          build-args:
            "STATS_WEBSITE_ID=${{ secrets.STATS_WEBSITE_ID }}"
          # load image into docker to test it in the next step
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # https://docs.docker.com/build/ci/github-actions/cache/#github-cache
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test image
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
        run: docker run --rm "${TAGS}" --version
      - name: Push Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          # use path context to make .git available in build
          # https://github.com/docker/build-push-action?tab=readme-ov-file#git-context
          context: .
          build-args:
            "STATS_WEBSITE_ID=${{ secrets.STATS_WEBSITE_ID }}"
          platforms: linux/arm64
          # only push to the registry when it is not a PR (i.e., main branch)
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # https://docs.docker.com/build/ci/github-actions/cache/#github-cache
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    uses: ./.github/workflows/cd.yml
    if: success() && github.ref == 'refs/heads/main'
    needs:
      - lint
      - build
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_PORT: ${{ secrets.SSH_PORT }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
